{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties"],
    ["@babel/plugin-syntax-dynamic-import"],
    [
      "template-html-minifier",
      {
        "modules": {
          "lit-html": ["html"],
          "lit-element": [
            "html",
            {
              "name": "css",
              "encapsulation": "style"
            }
          ]
        },
        "htmlMinifier": {
          "collapseWhitespace": true,
          "minifyJS": true,
          "removeComments": true
        }
      }
    ]
  ]
}
