{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["lit"],
  "rules": {
    "lit/no-duplicate-template-bindings": 1,
    "lit/no-legacy-template-syntax": 1,
    "lit/no-template-bind": 1,
    "lit/no-template-map": 1,
    "lit/no-useless-template-literals": 1,
    "lit/attribute-value-entities": 1,
    "lit/binding-positions": 1,
    "lit/no-property-change-update": 1,
    "lit/no-invalid-html": 1,
    "lit/no-value-attribute": 1
  }
}
