* {
  box-sizing: border-box;
}

a {
  box-shadow: none;
  transition: box-shadow ease 200ms;
}

a:focus,
a:hover {
  box-shadow: 0 1px 0 0 currentColor;
}

a.gatsby-resp-image-link {
  box-shadow: none;
}

.iframe {
  width: 100%;
  height: 500px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
}

a.anchor {
  margin-left: -24px;
}

a.anchor:hover {
  box-shadow: none;
}

twitter-widget {
  margin: 2.25em auto !important;
}

p > img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  margin: 2.25em auto !important;
}

#gatsby-focus-wrapper > div {
  padding: 0 1rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 38%;
}

.socials img {
  width: 26px;
  max-width: 26px;
  max-height: 26px;
  margin: 0;
}

.socials a {
  display: block;
  box-shadow: none;
  transition: all 200ms ease;
}

.socials a:hover {
  transform: rotate(10deg);
}

@media screen and (max-width: 640px) {
  .bio {
    flex-direction: column;
  }

  .socials {
    margin-top: 12px;
    justify-content: space-around;
    width: 100%;
  }

  .avatar {
    margin: 0 auto;
    margin-bottom: 12px;
  }

  blockquote {
    margin-left: 0;
  }

  ul,
  ol {
    padding-left: 1rem;
  }
}
