blockquote {
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
  margin: 3rem;
}

blockquote p {
  quotes: "„ " " “";
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

a {
  color: #1995d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
