/**
 * atom-dark theme for `prism.js`
 * Based on Atom's `atom-dark` theme: https://github.com/atom/atom-dark-syntax
 */

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/eot/FiraCode-Light.eot');
  src: url('/fonts/FiraCode/eot/FiraCode-Light.eot') format('embedded-opentype'),
    url('/fonts/FiraCode/woff2/FiraCode-Light.woff2') format('woff2'),
    url('/fonts/FiraCode/woff/FiraCode-Light.woff') format('woff'),
    url('/fonts/FiraCode/ttf/FiraCode-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/eot/FiraCode-Regular.eot');
  src: url('/fonts/FiraCode/eot/FiraCode-Regular.eot')
      format('embedded-opentype'),
    url('/fonts/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode/woff/FiraCode-Regular.woff') format('woff'),
    url('/fonts/FiraCode/ttf/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/eot/FiraCode-Medium.eot');
  src: url('/fonts/FiraCode/eot/FiraCode-Medium.eot')
      format('embedded-opentype'),
    url('/fonts/FiraCode/woff2/FiraCode-Medium.woff2') format('woff2'),
    url('/fonts/FiraCode/woff/FiraCode-Medium.woff') format('woff'),
    url('/fonts/FiraCode/ttf/FiraCode-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode/eot/FiraCode-Bold.eot');
  src: url('/fonts/FiraCode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
    url('/fonts/FiraCode/woff2/FiraCode-Bold.woff2') format('woff2'),
    url('/fonts/FiraCode/woff/FiraCode-Bold.woff') format('woff'),
    url('/fonts/FiraCode/ttf/FiraCode-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #c5c8c6;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: 'Fira Code', 'Fira Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  font-variant-ligatures: normal;
  font-feature-settings: 'calt' 1;
  text-rendering: optimizeLegibility;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 2.25em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #1d1f21;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7c7c7c;
}

.token.punctuation {
  color: #c5c8c6;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.keyword,
.token.tag {
  color: #96cbfe;
}

.token.class-name {
  color: #ffffb6;
  text-decoration: underline;
}

.token.boolean,
.token.constant {
  color: #99cc99;
}

.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.number {
  color: #ff73fd;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a8ff60;
}

.token.variable {
  color: #c6c5fe;
}

.token.operator {
  color: #ededed;
}

.token.entity {
  color: #ffffb6;
}

.token.url {
  color: #96cbfe;
}

.language-css .token.string,
.style .token.string {
  color: #87c38a;
}

.token.atrule,
.token.attr-value {
  color: #f9ee98;
}

.token.function {
  color: #dad085;
}

.token.regex {
  color: #e9c062;
}

.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

:not(pre) > code[class*='language-'] {
  background: rgba(255, 229, 100, 0.2) !important;
  text-shadow: none;
  color: #1a1a1a;
  padding: 0.15em 0.2em 0.05em;
  border-radius: 0px !important;
}
